 *{
    margin: 0px;
    padding: 0px;
 }
 
 
 body {
    background-color: beige;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar>.container-fluid {
    background-color:  #003B5C ;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /* max-height: 75px; */
    position: sticky;
    
}
.navbar .navbar-expand-lg .sticky-top{
    margin: 0px;
    padding: 0px;
}

.navbar>.container-fluid #navbarNav a:hover{
    /* background-color: rgb(108, 107, 107); */
    color: rgb(255, 255, 255);
}
.navbar>.container-fluid #navbarNav a {
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

#navbarNav .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 107, 107);
    font-weight: bolder;
}
.appoint{
    border-radius: 2rem;
    cursor: pointer;
}

.app{
    color: blue;
    
}