 *{
    margin: 0px;
    padding: 0px;
 }
 
 
 body {
    background-color: beige;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar>.container-fluid {
    background-color:  #003B5C ;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /* max-height: 75px; */
    position: sticky;
    
}
.navbar .navbar-expand-lg .sticky-top{
    margin: 0px;
    padding: 0px;
}

.navbar>.container-fluid #navbarNav a:hover{
    /* background-color: rgb(108, 107, 107); */
    color: rgb(255, 255, 255);
}
.navbar>.container-fluid #navbarNav a {
    border-radius: 12px;
    color: rgb(255, 255, 255);
}

#navbarNav .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 107, 107);
    font-weight: bolder;
}
.appoint{
    border-radius: 2rem;
    cursor: pointer;
}

.app{
    color: blue;
    transform: translateY(-20px);
    transition-duration: 0.8s;
}
@media screen and (max-width: 740px) {
    .appointment{
        padding-top: 1.2rem;
    }

}
.mobile #mobilen{
    padding: 0.6rem;

}
.download .downloadbtn{
    border: 2px solid white;
    background-color: black;
    border-radius: 8px;
    text-align: center;
    padding: 0.2rem;
    cursor: pointer;
}
.download p{
   margin: 0rem;
}
.footer_up{
    margin-top: 2rem;
    background-color: #f8f8fb;
}